{% extends "frontend/main_layout.html.twig" %}

{% block title %}{% endblock %}
{% block meta_description %}{% endblock %}

{% block container %}

    <!-- Mid Container -->
    <div class="inner_content">
        <div class="wrap">
            <div class="inner_form">

                <form action="{{ path('password_recovery') }}" method="post">

                    <div class="inner_form_bot">
                        <div class="main_form">
                            <h1>{% trans %}Password Recovery{% endtrans %}</h1>

                            {% if form.email.vars.errors|length %}
                                <div class="errors">
                                    <div class="ui red tiny message">
                                        <div class="content">
                                            <div class="header">
                                                {{ form_errors(form.email) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br><br>
                            {% endif %}

                            {% if success %}
                                <div class="ui olive tiny message">
                                    <div class="content">
                                        <div class="header">
                                            {% trans %}New password was sent to the email you entered.{% endtrans %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="mfrm_field cf">
                                {{ form_label(form.email) }}
                                {{ form_widget(form.email) }}
                            </div>
                            <div class="div4" style="padding: 0px;">
                                <a href="#" id="send_password">{% trans %}Send{% endtrans %}</a>
                            </div>

                            {{ form_rest(form) }}

                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>



{% endblock %}





