{% if errors %}
    <div class="errors">
        <div class="ui orange message">
            <div class="content">
                <div class="header">
                    {% trans %}Please complete fields below{% endtrans %}
                </div>
                <p>
                    {{ form_errors(form.about) }}
                    {{ form_errors(form.looking) }}
                    {{ form_errors(form.hobbies) }}
                </p>
            </div>
        </div>
    </div>
{% endif %}


<div class="inner_form_bot">
    <div class="main_form">
        <h1>More About Me</h1>


        <div class="about_field cf {% if form.about.vars.errors|length %}error{% endif %}">
            <label for="{{ form.about.vars.id }}">{{ form.about.vars.label|raw }}</label>
            {{ form_widget(form.about) }}
        </div>

        <div class="about_field cf {% if form.looking.vars.errors|length %}error{% endif %}">
            <label for="{{ form.looking.vars.id }}">{{ form.looking.vars.label|raw }}</label>
            {{ form_widget(form.looking) }}
        </div>

        <div class="long_field cf {% if form.hobbies.vars.errors|length %}error{% endif %}">
            <div class="long_label">{{ form_label(form.hobbies) }}</div>
            <div class="cf checkboxes hobbies">

                <div class="block">

                {% for hobby in form.hobbies %}
                    <div class="ui checkbox">
                        {{ form_widget(hobby) }}
                        {{ form_label(hobby) }}
                    </div>
                    <div class="clr"></div>

                    {% if loop.index % 13 == 0 %}
                </div>
                <div class="block">
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>


        <div class="main_sub main_sub4 cf" style="max-width: 807px;margin:0px auto;">
            <a class="back" onclick="$('#prev_stage').click()">{% trans %}Back{% endtrans %}</a>
            <a class="next nextstage" onclick="gtag_report_conversion();">{% trans %}Next{% endtrans %}</a>
            <input type="submit" id="prev_stage" name="flow_signUp_transition" value="back" formnovalidate="formnovalidate">
            <input type="submit" id="next_stage">
        </div>

    </div>
</div>








