{% extends "frontend/main_layout.html.twig" %}

{% block title %}Seeking Arrangements NYC, arrangement finders NYC{% endblock %}
{% block meta_description %}Sign up now and make your arrangement for the best sugar daddy and sugar baby in NYC. Just create your account and make your arrangement.{% endblock %}
{% block meta_keywords %}arrangement finders nyc{% endblock %}

{% block container %}


    {% set step = flow is defined ? flow.getCurrentStepNumber() : 4 %}

    <!-- Mid Container -->
    <div class="inner_content" style="padding-top: 90px;">
        <div class="wrap">
            <div class="inner_form">
                <div class="inner_form_top">
                    <ul>
                        <li {% if step >= 1 %}class="active"{% endif %}><span class="fnumber">1</span> <span class="ftext">{% trans %}Sign Up{% endtrans %}</span></li>
                        <li {% if step >= 2 %}class="active"{% endif %}><span class="fnumber">2</span> <span class="ftext">{% trans %}Create Profile{% endtrans %}</span></li>
                        <li {% if step >= 3 %}class="active"{% endif %}><span class="fnumber">3</span> <span class="ftext">{% trans %}More About Me{% endtrans %}</span></li>
                        <li {% if step >= 4 %}class="active"{% endif %}><span class="fnumber">4</span> <span class="ftext">{% trans %}Add Photo{% endtrans %}</span></li>
                    </ul>
                    <div class="clr"></div>
                </div>

                <form action="{{ path('sign_up') }}" method="post" enctype="multipart/form-data" id="sign_up_form" novalidate>

                    <input type="hidden" id="form_helper_url" value="{{ path('sign_up_helper') }}">

                    <div class="errors hidden empty_fields">
                        <div class="ui orange message">
                            <div class="content">
                                <div class="header">
                                    {% trans %}Please complete marked fields{% endtrans %}
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if step < 4 %}
                        {% if step == 1 %}
                            {{ include ('frontend/security/sign_up/' ~ step ~ '.html.twig', {'form': form, 'terms': terms}) }}
                        {% else %}
                            {{ include ('frontend/security/sign_up/' ~ step ~ '.html.twig', {'form': form}) }}
                        {% endif %}
                    {% else %}
                        {{ include ('frontend/security/sign_up/photos.html.twig') }}
                        {#{% if app.request.attributes.get('_route') == 'sign_up_photos' %}
                            {{ include ('frontend/security/sign_up/photos.html.twig') }}
                        {% else %}
                            {{ include ('frontend/security/sign_up/photo.html.twig') }}
                        {% endif %}#}
                    {% endif %}

                    {% if form is defined %}
                        {{ form_rest(form) }}
                    {% endif %}

                </form>

            </div>
        </div>
    </div>



{% endblock %}