{% extends "frontend/layout.html.twig" %}

{% block content %}

    <div class="mid_content">
        {% if is_mobile() == false %}
        <!-- Mid Search -->
        <div class="mid_search">
            <div class="mid_title mhover"><h3>{% trans %}Quick Search{% endtrans %}</h3></div>
            <div class="msearch_div ms_div2">

                <form action="{{ path('user_search_results') }}" method="post" class="qs">

                    <input type="hidden" class="form_helper_url" value="{{ path('quick_search_helper') }}">

                    <div class="mlocation">
                        <div class="m-between">
                            <div class="ms_left">{% trans %}Distance:{% endtrans %}</div>
                            <div class="ms_right">
                                {{ form_widget(form.distance) }}
                                <span class="dist">{% trans %}Miles from my Location{% endtrans %}</span>
                            </div>
                            <div class="ms_left" style="display: inline-block;">{% trans %}Age between:{% endtrans %}</div>
                            <div class="ms_right">
                                {{ form_widget(form.ageFrom) }}
                                <span class="band">&amp;</span>
                                {{ form_widget(form.ageTo) }}
                            </div>
                        </div>

                        <div class="msarea-left">
                            <h6>{% trans %}Area:{% endtrans %}</h6>
                            <div class="ma_right checkdiv">

                                {% for region in form.region %}
                                    <div class="lchk{% if loop.index % 2 == 0 %} lchkright{% endif %} cf">
                                        <div class="ui checkbox">
                                            {{ form_widget(region) }}
                                            {{ form_label(region) }}
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                            <div class="ms_but"><input type="submit" value="{% trans %}Search{% endtrans %}"></div>
                            <div class="clr"></div>
                        </div>
                        <div class="clr"></div>
                    </div>

                </form>

                <div class="left_sep"><span>{% trans %}Or{% endtrans %}</span></div>

                <form action="{{ path('user_search_results') }}" method="post" class="qs">

                    <input type="hidden" id="quickSearch_filter" name="quickSearch[filter]" value="lastActivity">

                    <div class="msearch_nick cf">
                        <div class="s_nick_lft cf">
                            {{ form_label(form.username) }}
                            {{ form_widget(form.username) }}
                        </div>
                        <div class="ms_but"><input type="submit" value="{% trans %}Search{% endtrans %}"></div>
                        <div class="clr"></div>
                    </div>

                </form>


                <div class="left_sep"><span>{% trans %}Or{% endtrans %}</span></div>
                <div class="ms_advbut"><a href="{{ path('user_search_advanced') }}">{% trans %}Advanced Search{% endtrans %}</a></div>
            </div>
        </div>
        {% endif %}
        <!-- Mid Search End -->
        <form action="{{ app.request.requesturi }}" method="post" id="search_filter_form">
            <input type="hidden" name="is_mobile" value="0" />
            <input type="hidden" id="page" name="pageNum" value="2">

            {% if data is defined %}
                {% for key,value in data %}
                    {% if data[key] is iterable %}
                        {% for key2,value2 in data[key] %}
                            <input type="hidden" name="advanced_search[{{ key }}][{{ key2 }}]" value="{{ value2 }}" />
                        {% endfor %}
                    {% else %}
                        <input type="hidden" name="advanced_search[{{ key }}]" value="{{ value }}" id="advanced_search_{{ key }}" />
                    {% endif %}
                {% endfor %}
            {% else %}
                <input type="hidden" name="advanced_search[filter]" value="new" id="advanced_search_filter" />
            {% endif %}

            <input type="submit" class="hidden">
        </form>
        <div class="new-mem desktop_results">
            <div class="mid_title"><h3>{% trans %}New Members{% endtrans %}</h3></div>
            {{ include ('frontend/user/users_list.html.twig', {'users': newUsers}) }}
        </div>
    </div>

{% endblock %}



{% block mobile_content %}

    <div class="nymain_mobile">


            {% set filter = data is not defined ? 'new' : data.filter %}

            <div class="member cf sorting">
                <div class="mem-left">{% trans %}Sort By{% endtrans %}</div>
                <div class="mem-right">
                    <div class="sortby">
                        <select id="search_filter1">
                            <option value="distance"{% if filter == 'distance' %} selected="selected"{% endif %}>{% trans %}Distance{% endtrans %}</option>
                            <option value="new"{% if filter == 'new' or filter == '' %} selected="selected"{% endif %}>{% trans %}New Members{% endtrans %}</option>
                            {% if data.withPhoto is not defined or not data.withPhoto %}
                                <option value="photo" {% if filter == 'photo' %} selected="selected"{% endif %}>{% trans %}Photo Owners{% endtrans %}</option>
                            {% endif %}
                            <option value="lastActivity"{% if filter == 'lastActivity' %} selected="selected"{% endif %}>{% trans %}Last Visit{% endtrans %}</option>
                            <option value="popularity"{% if filter == 'popularity' %} selected="selected"{% endif %}>{% trans %}Popularity{% endtrans %}</option>
                        </select>
                    </div>
                </div>
                <button class="left close ui icon basic button">
                    <i class="remove icon"></i>
                </button>
                <i class="chevron down ui icon open-sort"></i>
            </div>


        <ul class="nymobul cf">
            <div class="mobile_results">
                {{ include ('frontend/user/users_list_mobile.html.twig', {'users': newUsers}) }}
            </div>
        </ul>
    </div>
{% endblock %}