{% extends "backend/layout.html.twig" %}

{% block content %}

    {{ include('backend/header.html.twig', { 'header': 'Manage Users', 'icon': 'users' }) }}



    <div class="page_content waiting_photos_content">

        <table class="ui single line table waiting_photos">
            <thead>
            <tr>
                <th>
                    <h3 class="ui grey header left">
                        <i class="photo circular icon"></i>
                        Waiting For Approval
                    </h3>
                </th>
            </tr>
            <tr class="actions">
                <th>
                    {{ include('backend/users/waiting_photos_actions.html.twig') }}
                </th>
            </tr>

            </thead>
            <tbody>

            <tr>
                <td>


                    <div class="ui four stackable cards">

                        {% for photo in photos %}

                            <div class="card">
                                <div class="content">

                                    <input type="hidden" value="{{ photo.user.id }}" class="userId">

                                    <i class="photo icon grey large right floated link manage_photos"
                                       data-position="top center" data-content="Edit Photos"></i>

                                    <i class="edit icon grey large right floated link manage_user"
                                       data-position="top center" data-content="Edit Profile"></i>


                                    <div class="header">
                                        <span class="username" data-position="top center" data-content="View Profile">
                                            {{ photo.user.username }}
                                        </span>
                                    </div>
                                    <div class="meta">
                                        {% if photo.user.isPaying %}
                                            <i class="star green icon" data-position="top center" data-content="Paying"></i>
                                        {% endif %}
                                        {{ photo.user.age }}, {{ photo.user.zipCode.area.region.name }}
                                    </div>
                                    {#
                                    <div class="description">
                                        {{ photo.user.about|length > 50 ? photo.user.about|slice(0, 50) ~ '...' : photo.user.about  }}
                                    </div>
                                    #}
                                </div>
                                <div class="image photo">
                                    <img src="{{ photo.getWebPath }}">
                                    <div class="rotate-buttons">
                                        <div class="ui mini icon button green rotate left-side">
                                            <i class="ion-md-undo alternate icon"></i>
                                        </div>
                                        <div class="ui mini icon button green rotate right-side">
                                            <i class="ion-md-redo icon"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="extra content">


                                    <div class="ui equal width grid">
                                        <div class="column">

                                            <button class="ui green icon button approve" data-position="top center" data-content="Approve Photo">
                                                <i class="thumbs up icon"></i>
                                            </button>

                                        </div>
                                        <div class="column sel_item">

                                            <div class="ui slider checkbox">
                                                <input type="checkbox">
                                                <label></label>
                                            </div>
                                            <input type="hidden" value="{{ photo.id }}">

                                        </div>
                                        <div class="column">

                                            <button class="ui red right icon button delete"  data-position="top center" data-content="Delete Photo">
                                                <i class="thumbs down icon"></i>
                                            </button>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        {% endfor %}

                    </div>




                </td>
            </tr>








            </tbody>
            <tfoot>
            <tr class="actions">
                <th>
                    {{ include('backend/users/waiting_photos_actions.html.twig') }}
                </th>
            </tr>
            </tfoot>
        </table>



    </div>








{% endblock %}